<settings>
    <setting id="alldebridpassword" value="" />
    <setting id="alldebridpremium" value="false" />
    <setting id="alldebriduser" value="" />
    <setting id="bookmarkpath" value="/var/media/sda1-usb-MXT-USB_Storage" />
    <setting id="button_keymap" value="" />
    <setting id="debug" value="true" />
    <setting id="default_action" value="2" />
    <setting id="downloadlistpath" value="/var/media/sda1-usb-MXT-USB_Storage_" />
    <setting id="downloadpath" value="/var/media/sda1-usb-MXT-USB_Storage_" />
    <setting id="filesmonsterpassword" value="" />
    <setting id="filesmonsterpremium" value="false" />
    <setting id="filesmonsteruser" value="" />
    <setting id="forceview" value="false" />
    <setting id="hidepremium" value="true" />
    <setting id="jdownloader" value="http://127.0.0.1:10025" />
    <setting id="jdownloader_enabled" value="false" />
    <setting id="lang_tweets" value="0" />
    <setting id="matchcenter_enabled" value="true" />
    <setting id="matchcenter_news" value="0" />
    <setting id="nowvideopassword" value="" />
    <setting id="nowvideopremium" value="false" />
    <setting id="nowvideouser" value="" />
    <setting id="onefichierpassword" value="" />
    <setting id="onefichierpremium" value="false" />
    <setting id="onefichieruser" value="" />
    <setting id="player_mode" value="0" />
    <setting id="player_type" value="2" />
    <setting id="primer_uso_matchcenter" value="true" />
    <setting id="realdebridpremium" value="false" />
    <setting id="team_tweet" value="17" />
    <setting id="thumbnail_type" value="2" />
    <setting id="update_scores" value="1" />
    <setting id="update_tweets" value="2" />
    <setting id="updateauto" value="true" />
    <setting id="updatecheck" value="true" />
    <setting id="updatecheck2" value="true" />
    <setting id="uploadedtopassword" value="" />
    <setting id="uploadedtopremium" value="false" />
    <setting id="uploadedtouser" value="" />
</settings>
