<settings version="2">
    <setting id="add_episode_numbers" default="true">false</setting>
    <setting id="add_specials" default="true">false</setting>
    <setting id="antizapret_enabled" default="true">false</setting>
    <setting id="auto_adjust_memory_size">true</setting>
    <setting id="auto_kodi_buffer_size">true</setting>
    <setting id="auto_memory_size">true</setting>
    <setting id="auto_memory_size_strategy">1</setting>
    <setting id="autoload_torrents">true</setting>
    <setting id="autoload_torrents_paused">true</setting>
    <setting id="buffer_size">20</setting>
    <setting id="buffer_timeout">300</setting>
    <setting id="cache_search_duration">180</setting>
    <setting id="choose_stream_auto" default="true">false</setting>
    <setting id="cloudhole_key" default="true">FB20575</setting>
    <setting id="completed_help" default="true"></setting>
    <setting id="completed_move" default="true">false</setting>
    <setting id="completed_movies_path" default="true"></setting>
    <setting id="completed_shows_path" default="true"></setting>
    <setting id="connections_limit" default="true">0</setting>
    <setting id="conntracker_limit" default="true">0</setting>
    <setting id="conntracker_limit_auto">true</setting>
    <setting id="custom_provider_timeout">15</setting>
    <setting id="custom_provider_timeout_enabled" default="true">false</setting>
    <setting id="default_fanart">true</setting>
    <setting id="disable_bg_progress" default="true">false</setting>
    <setting id="disable_bg_progress_playback">true</setting>
    <setting id="disable_dht" default="true">false</setting>
    <setting id="disable_tcp" default="true">false</setting>
    <setting id="disable_upload" default="true">false</setting>
    <setting id="disable_upnp" default="true">false</setting>
    <setting id="disable_utp" default="true">false</setting>
    <setting id="do_not_disturb" default="true">false</setting>
    <setting id="download_path">/</setting>
    <setting id="download_storage">1</setting>
    <setting id="enable_overlay_status">true</setting>
    <setting id="encryption_policy" default="true">0</setting>
    <setting id="force_link_type" default="true">false</setting>
    <setting id="force_use_trakt" default="true">false</setting>
    <setting id="internal_dns_enabled">true</setting>
    <setting id="internal_dns_help" default="true"></setting>
    <setting id="internal_dns_skip_ipv6">true</setting>
    <setting id="internal_proxy_enabled">true</setting>
    <setting id="internal_proxy_logging" default="true">false</setting>
    <setting id="keep_downloading">2</setting>
    <setting id="keep_files_finished">2</setting>
    <setting id="keep_files_playing">2</setting>
    <setting id="label0" default="true"></setting>
    <setting id="label1" default="true"></setting>
    <setting id="label15" default="true"></setting>
    <setting id="label2" default="true"></setting>
    <setting id="label3" default="true"></setting>
    <setting id="label4" default="true"></setting>
    <setting id="label5" default="true"></setting>
    <setting id="label6" default="true"></setting>
    <setting id="library_auto_scan">true</setting>
    <setting id="library_nfo_movies">true</setting>
    <setting id="library_nfo_shows">true</setting>
    <setting id="library_path" default="true">special://temp/elementum_library/</setting>
    <setting id="library_update" default="true">0</setting>
    <setting id="library_update_delay">300</setting>
    <setting id="library_update_frequency">6</setting>
    <setting id="libtorrent_profile" default="true">0</setting>
    <setting id="limit_after_buffering" default="true">false</setting>
    <setting id="listen_autodetect_ip">true</setting>
    <setting id="listen_autodetect_port">true</setting>
    <setting id="listen_interfaces" default="true"></setting>
    <setting id="listen_port_max">6891</setting>
    <setting id="listen_port_min">6881</setting>
    <setting id="local_only_client" default="true">false</setting>
    <setting id="local_port">65221</setting>
    <setting id="logger_silent" default="true">false</setting>
    <setting id="magnet_trackers" default="true">0</setting>
    <setting id="max_download_rate" default="true">0</setting>
    <setting id="max_upload_rate" default="true">0</setting>
    <setting id="memory_size">100</setting>
    <setting id="min_candidate_show_size">4</setting>
    <setting id="min_candidate_size">100</setting>
    <setting id="opennic_dns_list" default="true">193.183.98.66, 172.104.136.243, 89.18.27.167</setting>
    <setting id="osdb_auto_language">true</setting>
    <setting id="osdb_auto_load" default="true">false</setting>
    <setting id="osdb_auto_load_count">1</setting>
    <setting id="osdb_auto_load_delete">true</setting>
    <setting id="osdb_auto_load_skipexists">true</setting>
    <setting id="osdb_included_enabled">true</setting>
    <setting id="osdb_included_skipexists">true</setting>
    <setting id="osdb_language" default="true"></setting>
    <setting id="osdb_pass" default="true"></setting>
    <setting id="osdb_user" default="true"></setting>
    <setting id="outgoing_interfaces" default="true"></setting>
    <setting id="overlay_status_offset">150</setting>
    <setting id="percentage_additional_seeders">25</setting>
    <setting id="play_resume">false</setting>
    <setting id="play_resume_back" default="true">0</setting>
    <setting id="playback_percent">85</setting>
    <setting id="provider_allowed_failures">3</setting>
    <setting id="provider_disable_failing" default="true">false</setting>
    <setting id="proxy_enabled" default="true">false</setting>
    <setting id="proxy_host" default="true"></setting>
    <setting id="proxy_login" default="true"></setting>
    <setting id="proxy_password" default="true"></setting>
    <setting id="proxy_port">1080</setting>
    <setting id="proxy_type">1</setting>
    <setting id="public_dns_list" default="true">8.8.8.8, 8.8.4.4, 9.9.9.9</setting>
    <setting id="remote_host" default="true">127.0.0.1</setting>
    <setting id="remote_port">65220</setting>
    <setting id="resolution_preference_movies" default="true">0</setting>
    <setting id="resolution_preference_shows" default="true">0</setting>
    <setting id="results_per_page">9</setting>
    <setting id="seed_time_limit">2</setting>
    <setting id="seed_time_ratio_limit">200</setting>
    <setting id="session_save">15</setting>
    <setting id="share_ratio_limit">25</setting>
    <setting id="silent_stream_start" default="true">false</setting>
    <setting id="smart_episode_match">true</setting>
    <setting id="smart_episode_start">true</setting>
    <setting id="sorting_mode_movies">2</setting>
    <setting id="sorting_mode_shows">2</setting>
    <setting id="spoof_user_agent" default="true">0</setting>
    <setting id="store_resume">true</setting>
    <setting id="store_resume_action">1</setting>
    <setting id="strm_language" default="true">Original</setting>
    <setting id="tmdb_api_key" default="true"></setting>
    <setting id="torrent_history_size">50</setting>
    <setting id="torrents_path" default="true">special://temp/elementum_torrents/</setting>
    <setting id="trakt_calendars_color_date" default="true">yellow</setting>
    <setting id="trakt_calendars_color_episode" default="true">skyblue</setting>
    <setting id="trakt_calendars_color_show" default="true">none</setting>
    <setting id="trakt_calendars_color_unaired" default="true">deeppink</setting>
    <setting id="trakt_calendars_date_format" default="true">yyyy-mm-dd</setting>
    <setting id="trakt_progress_color_date" default="true">yellow</setting>
    <setting id="trakt_progress_color_episode" default="true">skyblue</setting>
    <setting id="trakt_progress_color_show" default="true">none</setting>
    <setting id="trakt_progress_color_unaired" default="true">deeppink</setting>
    <setting id="trakt_progress_date_format">2006-01-02</setting>
    <setting id="trakt_progress_sort" default="true">0</setting>
    <setting id="trakt_progress_unaired">true</setting>
    <setting id="trakt_refresh_token">false</setting>
    <setting id="trakt_scrobble" default="true">false</setting>
    <setting id="trakt_sync">0</setting>
    <setting id="trakt_sync_added" default="true">false</setting>
    <setting id="trakt_sync_added_list" default="true"></setting>
    <setting id="trakt_sync_added_list_name" default="true"></setting>
    <setting id="trakt_sync_added_location" default="true">0</setting>
    <setting id="trakt_sync_added_movies">true</setting>
    <setting id="trakt_sync_added_movies_list" default="true">0</setting>
    <setting id="trakt_sync_added_movies_list_name" default="true"></setting>
    <setting id="trakt_sync_added_movies_location" default="true">0</setting>
    <setting id="trakt_sync_added_shows">true</setting>
    <setting id="trakt_sync_added_shows_list" default="true">0</setting>
    <setting id="trakt_sync_added_shows_list_name" default="true"></setting>
    <setting id="trakt_sync_added_shows_location" default="true">0</setting>
    <setting id="trakt_sync_collections">false</setting>
    <setting id="trakt_sync_removed" default="true">false</setting>
    <setting id="trakt_sync_removed_list" default="true"></setting>
    <setting id="trakt_sync_removed_list_name" default="true"></setting>
    <setting id="trakt_sync_removed_location" default="true">0</setting>
    <setting id="trakt_sync_removed_movies">true</setting>
    <setting id="trakt_sync_removed_movies_list" default="true">0</setting>
    <setting id="trakt_sync_removed_movies_list_name" default="true"></setting>
    <setting id="trakt_sync_removed_movies_location" default="true">0</setting>
    <setting id="trakt_sync_removed_shows">true</setting>
    <setting id="trakt_sync_removed_shows_list" default="true">0</setting>
    <setting id="trakt_sync_removed_shows_list_name" default="true"></setting>
    <setting id="trakt_sync_removed_shows_location" default="true">0</setting>
    <setting id="trakt_sync_userlists">false</setting>
    <setting id="trakt_sync_watched">false</setting>
    <setting id="trakt_sync_watchedback">false</setting>
    <setting id="trakt_sync_watchlist">false</setting>
    <setting id="trakt_token">false</setting>
    <setting id="trakt_token_expiry" default="true">0</setting>
    <setting id="trakt_username" default="true"></setting>
    <setting id="tuned_storage" default="true">false</setting>
    <setting id="unaired_episodes" default="true">false</setting>
    <setting id="unaired_seasons" default="true">false</setting>
    <setting id="use_anime_en_title">true</setting>
    <setting id="use_cache_search">true</setting>
    <setting id="use_cache_selection">true</setting>
    <setting id="use_cloudhole" default="true">false</setting>
    <setting id="use_fanart_tv">true</setting>
    <setting id="use_libtorrent_config">true</setting>
    <setting id="use_libtorrent_logging" default="true">false</setting>
    <setting id="use_libtorrent_pauseresume" default="true">false</setting>
    <setting id="use_original_title" default="true">false</setting>
    <setting id="use_proxy_download">true</setting>
    <setting id="use_proxy_http">true</setting>
    <setting id="use_proxy_tracker">true</setting>
    <setting id="use_public_dns" default="true">false</setting>
    <setting id="use_torrent_history">true</setting>
    <setting id="viewmode_episodes" default="true">0</setting>
    <setting id="viewmode_menus_movies" default="true">0</setting>
    <setting id="viewmode_menus_movies_genres" default="true">0</setting>
    <setting id="viewmode_menus_tvshows" default="true">0</setting>
    <setting id="viewmode_menus_tvshows_genres" default="true">0</setting>
    <setting id="viewmode_movies" default="true">0</setting>
    <setting id="viewmode_seasons" default="true">0</setting>
    <setting id="viewmode_tvshows" default="true">0</setting>
</settings>
