<settings>
    <setting id="add_specials" value="false" />
    <setting id="auto_library_update" value="true" />
    <setting id="auto_memory_size" value="true" />
    <setting id="auto_memory_size_strategy" value="0" />
    <setting id="autoload_torrents" value="true" />
    <setting id="buffer_size" value="20" />
    <setting id="buffer_timeout" value="300" />
    <setting id="cache_search_duration" value="180" />
    <setting id="choose_stream_auto" value="false" />
    <setting id="cloudhole_key" value="F62B745" />
    <setting id="completed_help" value="" />
    <setting id="completed_move" value="false" />
    <setting id="completed_movies_path" value="" />
    <setting id="completed_shows_path" value="" />
    <setting id="connections_limit" value="" />
    <setting id="custom_provider_timeout" value="15" />
    <setting id="custom_provider_timeout_enabled" value="false" />
    <setting id="default_fanart" value="true" />
    <setting id="disable_bg_progress" value="false" />
    <setting id="disable_bg_progress_playback" value="true" />
    <setting id="disable_dht" value="false" />
    <setting id="disable_tcp" value="false" />
    <setting id="disable_upload" value="false" />
    <setting id="disable_upnp" value="false" />
    <setting id="disable_utp" value="false" />
    <setting id="do_not_disturb" value="false" />
    <setting id="download_path" value="special://home/" />
    <setting id="download_storage" value="1" />
    <setting id="enable_overlay_status" value="true" />
    <setting id="encryption_policy" value="0" />
    <setting id="force_link_type" value="false" />
    <setting id="force_use_trakt" value="false" />
    <setting id="keep_downloading" value="2" />
    <setting id="keep_files_finished" value="2" />
    <setting id="keep_files_playing" value="2" />
    <setting id="library_auto_scan" value="false" />
    <setting id="library_path" value="special://home/" />
    <setting id="library_update_delay" value="300" />
    <setting id="library_update_frequency" value="6" />
    <setting id="limit_after_buffering" value="false" />
    <setting id="listen_autodetect_ip" value="true" />
    <setting id="listen_autodetect_port" value="true" />
    <setting id="listen_interfaces" value="" />
    <setting id="listen_port_max" value="6891" />
    <setting id="listen_port_min" value="6881" />
    <setting id="local_only_client" value="false" />
    <setting id="local_port" value="65221" />
    <setting id="logger_silent" value="false" />
    <setting id="max_download_rate" value="" />
    <setting id="max_upload_rate" value="" />
    <setting id="memory_size" value="100" />
    <setting id="opennic_dns_list" value="193.183.98.66, 172.104.136.243, 89.18.27.167" />
    <setting id="osdb_auto_language" value="true" />
    <setting id="osdb_language" value="" />
    <setting id="osdb_pass" value="" />
    <setting id="osdb_user" value="" />
    <setting id="overlay_status_offset" value="150" />
    <setting id="percentage_additional_seeders" value="25" />
    <setting id="play_resume" value="true" />
    <setting id="playback_percent" value="85" />
    <setting id="provider_allowed_failures" value="3" />
    <setting id="provider_disable_failing" value="false" />
    <setting id="proxy_enabled" value="false" />
    <setting id="proxy_host" value="" />
    <setting id="proxy_login" value="" />
    <setting id="proxy_password" value="" />
    <setting id="proxy_port" value="1080" />
    <setting id="proxy_type" value="1" />
    <setting id="public_dns_list" value="8.8.8.8, 8.8.4.4, 9.9.9.9" />
    <setting id="remote_host" value="127.0.0.1" />
    <setting id="remote_port" value="65220" />
    <setting id="resolution_preference_movies" value="0" />
    <setting id="resolution_preference_shows" value="0" />
    <setting id="results_per_page" value="9" />
    <setting id="seed_time_limit" value="2" />
    <setting id="silent_stream_start" value="false" />
    <setting id="smart_episode_match" value="true" />
    <setting id="sorting_mode_movies" value="2" />
    <setting id="sorting_mode_shows" value="2" />
    <setting id="spoof_user_agent" value="0" />
    <setting id="strm_language" value="Original" />
    <setting id="tmdb_api_key" value="" />
    <setting id="torrents_path" value="special://temp/elementum_torrents/" />
    <setting id="trakt_calendars_color_date" value="yellow" />
    <setting id="trakt_calendars_color_episode" value="skyblue" />
    <setting id="trakt_calendars_color_show" value="none" />
    <setting id="trakt_calendars_color_unaired" value="deeppink" />
    <setting id="trakt_calendars_date_format" value="yyyy-mm-dd" />
    <setting id="trakt_progress_color_date" value="yellow" />
    <setting id="trakt_progress_color_episode" value="skyblue" />
    <setting id="trakt_progress_color_show" value="none" />
    <setting id="trakt_progress_color_unaired" value="deeppink" />
    <setting id="trakt_progress_date_format" value="2006-01-02" />
    <setting id="trakt_progress_sort" value="0" />
    <setting id="trakt_progress_unaired" value="true" />
    <setting id="trakt_refresh_token" value="false" />
    <setting id="trakt_scrobble" value="false" />
    <setting id="trakt_sync" value="0" />
    <setting id="trakt_sync_added" value="false" />
    <setting id="trakt_sync_added_list" value="" />
    <setting id="trakt_sync_added_list_name" value="" />
    <setting id="trakt_sync_added_location" value="0" />
    <setting id="trakt_sync_added_movies" value="true" />
    <setting id="trakt_sync_added_movies_list" value="" />
    <setting id="trakt_sync_added_movies_list_name" value="" />
    <setting id="trakt_sync_added_movies_location" value="0" />
    <setting id="trakt_sync_added_shows" value="true" />
    <setting id="trakt_sync_added_shows_list" value="" />
    <setting id="trakt_sync_added_shows_list_name" value="" />
    <setting id="trakt_sync_added_shows_location" value="0" />
    <setting id="trakt_sync_collections" value="false" />
    <setting id="trakt_sync_removed" value="false" />
    <setting id="trakt_sync_removed_list" value="" />
    <setting id="trakt_sync_removed_list_name" value="" />
    <setting id="trakt_sync_removed_location" value="0" />
    <setting id="trakt_sync_removed_movies" value="true" />
    <setting id="trakt_sync_removed_movies_list" value="" />
    <setting id="trakt_sync_removed_movies_list_name" value="" />
    <setting id="trakt_sync_removed_movies_location" value="0" />
    <setting id="trakt_sync_removed_shows" value="true" />
    <setting id="trakt_sync_removed_shows_list" value="" />
    <setting id="trakt_sync_removed_shows_list_name" value="" />
    <setting id="trakt_sync_removed_shows_location" value="0" />
    <setting id="trakt_sync_userlists" value="false" />
    <setting id="trakt_sync_watched" value="false" />
    <setting id="trakt_sync_watchedback" value="false" />
    <setting id="trakt_sync_watchlist" value="false" />
    <setting id="trakt_token" value="false" />
    <setting id="trakt_token_expiry" value="0" />
    <setting id="trakt_username" value="" />
    <setting id="unaired_episodes" value="false" />
    <setting id="unaired_seasons" value="false" />
    <setting id="use_cache_search" value="true" />
    <setting id="use_cache_selection" value="true" />
    <setting id="use_cloudhole" value="false" />
    <setting id="use_original_title" value="false" />
    <setting id="use_public_dns" value="false" />
    <setting id="viewmode_episodes" value="" />
    <setting id="viewmode_menus_movies" value="" />
    <setting id="viewmode_menus_movies_genres" value="" />
    <setting id="viewmode_menus_tvshows" value="" />
    <setting id="viewmode_menus_tvshows_genres" value="" />
    <setting id="viewmode_movies" value="" />
    <setting id="viewmode_seasons" value="" />
    <setting id="viewmode_tvshows" value="" />
</settings>
