<settings version="2">
    <setting id="1080pquality" default="true">false</setting>
    <setting id="add_playlist" default="true">false</setting>
    <setting id="ask_playlist_items" default="true">false</setting>
    <setting id="browse_community" default="true">false</setting>
    <setting id="browse_xml_database" default="true">false</setting>
    <setting id="choose_source">1</setting>
    <setting id="debug" default="true">false</setting>
    <setting id="donotshowbychannels" default="true">false</setting>
    <setting id="genesisorpulsar">1</setting>
    <setting id="logo-folderPath" default="true"></setting>
    <setting id="new_file_source" default="true"></setting>
    <setting id="new_url_source" default="true"></setting>
    <setting id="parentalblocked" default="true">false</setting>
    <setting id="parentalblockedpin" default="true"></setting>
    <setting id="save_location" default="true"></setting>
    <setting id="searchotherplugins" default="true">false</setting>
    <setting id="use_thumb" default="true">false</setting>
</settings>
