<settings>
    <setting id="accache" value="false" />
    <setting id="accrash" value="true" />
    <setting id="acpackages" value="true" />
    <setting id="acstartup" value="true" />
    <setting id="acthumbs" value="false" />
    <setting id="addoninstaller" value="false" />
    <setting id="adult" value="true" />
    <setting id="audio" value="true" />
    <setting id="auto-view" value="true" />
    <setting id="automain" value="false" />
    <setting id="automb" value="false" />
    <setting id="cachemb" value="0" />
    <setting id="clearday" value="7" />
    <setting id="featured" value="true" />
    <setting id="hasran" value="true" />
    <setting id="maint_check_folders" value="true" />
    <setting id="newest" value="true" />
    <setting id="noteImage" value="78" />
    <setting id="noteMessage" value="The weekend is finally here and we have some very exciting things to tell&#x0A;you about...&#x0A;&#x0A;There&apos;s a new method of streaming [B][COLOR white]live sports[/COLOR][/B] on Kodi, new [B][COLOR white]VPN apps for&#x0A;Android TV and Amazon Fire TV[/COLOR][/B], as well as all kinds of [B][COLOR white]new Kodi addons[/COLOR][/B]!&#x0A;&#x0A;Read More: [B][COLOR white]https://www.tvaddons.co/wow[/COLOR][/B]&#x0A;&#x0A;Thank you again to everyone who has supported us over the years. Please&#x0A;be reminded that we could really use more donations to keep our web site&#x0A;going, and now accept Bitcoin as well as PayPal." />
    <setting id="noteType" value="t" />
    <setting id="notifications-on-startup" value="true" />
    <setting id="notify" value="2" />
    <setting id="packagesmb" value="2" />
    <setting id="program" value="true" />
    <setting id="repositories" value="false" />
    <setting id="scriptblock" value="true" />
    <setting id="set_rtmp" value="true" />
    <setting id="skincat" value="true" />
    <setting id="startupsize" value="false" />
    <setting id="thumbsmb" value="0" />
    <setting id="toprepositories" value="true" />
    <setting id="tt_togglesetting" value="false" />
    <setting id="updated" value="true" />
    <setting id="video" value="true" />
    <setting id="wizardran" value="false" />
    <setting id="world" value="true" />
    <setting id="zip" value="Click Here" />
</settings>
