<settings>
    <setting id="adult_aux_intro_password" value="" />
    <setting id="adult_aux_new_password1" value="" />
    <setting id="adult_aux_new_password2" value="" />
    <setting id="adult_mode" value="1" />
    <setting id="adult_password" value="(str, &apos;0000&apos;)" />
    <setting id="adult_pin" value="(str, &apos;&apos;)" />
    <setting id="adult_request_password" value="false" />
    <setting id="cast_color" value="white" />
    <setting id="category" value="Peliculas" />
    <setting id="channel_language" value="all" />
    <setting id="custom_start" value="false" />
    <setting id="debug" value="true" />
    <setting id="default_action" value="2" />
    <setting id="downloadlistpath" value="special://profile/addon_data/plugin.video.alfa/downloads/list" />
    <setting id="downloadpath" value="special://profile/addon_data/plugin.video.alfa/downloads" />
    <setting id="extended_info" value="false" />
    <setting id="folder_movies" value="CINE" />
    <setting id="folder_tvshows" value="SERIES" />
    <setting id="forceview" value="false" />
    <setting id="hidepremium" value="true" />
    <setting id="icon_set" value="default" />
    <setting id="infoplus" value="true" />
    <setting id="infoplus_set" value="Sin animación" />
    <setting id="install_trakt" value="true" />
    <setting id="lat_color" value="white" />
    <setting id="library_color" value="white" />
    <setting id="movie_color" value="white" />
    <setting id="news_start" value="false" />
    <setting id="no_update_color" value="white" />
    <setting id="path_selection" value="0" />
    <setting id="player_mode" value="0" />
    <setting id="quality_color" value="white" />
    <setting id="rating_1_color" value="white" />
    <setting id="rating_2_color" value="white" />
    <setting id="rating_3_color" value="white" />
    <setting id="resolve_priority" value="0" />
    <setting id="resolve_stop" value="true" />
    <setting id="server_color" value="white" />
    <setting id="server_stats" value="true" />
    <setting id="settings_path" value="(str, &apos;special://profile/addon_data/plugin.video.alfa/settings_channels&apos;)" />
    <setting id="shortcut_key" value="" />
    <setting id="start_page" value="false" />
    <setting id="subtitle_name" value="[COLOR 0xFF2E9AFE]El ultimo hombre en la tierra 4x02[COLOR]" />
    <setting id="thumbnail_type" value="2" />
    <setting id="title_color" value="false" />
    <setting id="tmdb_cache" value="true" />
    <setting id="tmdb_cache_expire" value="4" />
    <setting id="tmdb_plus_info" value="false" />
    <setting id="tmdb_threads" value="20" />
    <setting id="trakt_sync" value="false" />
    <setting id="tvshow_color" value="white" />
    <setting id="unify" value="false" />
    <setting id="update_color" value="white" />
    <setting id="video_thumbnail_type" value="0" />
    <setting id="videolibrary_kodi" value="true" />
    <setting id="videolibrary_kodi_flag" value="0" />
    <setting id="videolibrarypath" value="special://profile/addon_data/plugin.video.alfa/videolibrary" />
    <setting id="vo_color" value="white" />
    <setting id="vos_color" value="white" />
    <setting id="vose_color" value="white" />
    <setting id="year_color" value="white" />
</settings>
