<settings>
    <setting id="adult_aux_intro_password" value="" />
    <setting id="adult_aux_new_password1" value="" />
    <setting id="adult_aux_new_password2" value="" />
    <setting id="adult_mode" value="1" />
    <setting id="adult_password" value="(str, &apos;0000&apos;)" />
    <setting id="adult_pin" value="(str, &apos;&apos;)" />
    <setting id="adult_request_password" value="false" />
    <setting id="channel_language" value="all" />
    <setting id="debug" value="true" />
    <setting id="default_action" value="2" />
    <setting id="downloadlistpath" value="/var/media/sda1-usb-MXT-USB_Storage_" />
    <setting id="downloadpath" value="/var/media/sda1-usb-MXT-USB_Storage_" />
    <setting id="extended_info" value="false" />
    <setting id="folder_movies" value="CINE" />
    <setting id="folder_tvshows" value="SERIES" />
    <setting id="forceview" value="false" />
    <setting id="hidepremium" value="true" />
    <setting id="infoplus" value="true" />
    <setting id="path_selection" value="0" />
    <setting id="player_mode" value="0" />
    <setting id="resolve_priority" value="0" />
    <setting id="resolve_stop" value="true" />
    <setting id="server_stats" value="true" />
    <setting id="settings_path" value="(str, &apos;special://profile/addon_data/plugin.video.alfa/settings_channels&apos;)" />
    <setting id="thumbnail_type" value="2" />
    <setting id="videolibrary_kodi" value="false" />
    <setting id="videolibrary_kodi_flag" value="0" />
    <setting id="videolibrarypath" value="special://profile/addon_data/plugin.video.alfa/videolibrary" />
</settings>
