<settings>
    <setting id="addon_tracking_atstart" value="false" />
    <setting id="addon_tracking_doit" value="" />
    <setting id="addon_tracking_interval" value="12" />
    <setting id="addon_tracking_lastscrap" value="" />
    <setting id="addon_tracking_verbose" value="false" />
    <setting id="addon_update_atstart" value="false" />
    <setting id="addon_update_doit" value="" />
    <setting id="addon_update_doitforce" value="" />
    <setting id="addon_update_verbose" value="false" />
    <setting id="adults_password" value="" />
    <setting id="autoplay" value="false" />
    <setting id="autoplay_channels_discarded" value="" />
    <setting id="autoplay_max_links" value="10" />
    <setting id="autoplay_one_link" value="true" />
    <setting id="block_size" value="1" />
    <setting id="channel_cinecalidad_dominio" value="" />
    <setting id="channel_documaniatv_rua" value="" />
    <setting id="channel_hdfull_dominio" value="" />
    <setting id="channels_link_main" value="false" />
    <setting id="channels_link_pyse" value="false" />
    <setting id="channels_list_inactive_color" value="[COLOR gray]gray[/COLOR]" />
    <setting id="channels_list_order" value="true" />
    <setting id="channels_list_prefe_color" value="[COLOR gold]gold[/COLOR]" />
    <setting id="channels_list_proxies_color" value="[COLOR red]red[/COLOR]" />
    <setting id="channels_list_status" value="0" />
    <setting id="channels_only_adults" value="" />
    <setting id="channels_only_anime" value="" />
    <setting id="channels_only_torrents" value="" />
    <setting id="channels_with_proxies" value="" />
    <setting id="chrome_last_version" value="86.0.4240.75" />
    <setting id="cliente_torrent" value="Seleccionar" />
    <setting id="colorear_enlaces_play" value="true" />
    <setting id="context_download_color" value="[COLOR orange]orange[/COLOR]" />
    <setting id="context_search_exact_color" value="[COLOR gold]gold[/COLOR]" />
    <setting id="context_search_similar_color" value="[COLOR yellow]yellow[/COLOR]" />
    <setting id="context_tracking_color" value="[COLOR blue]blue[/COLOR]" />
    <setting id="context_trailer_color" value="[COLOR pink]pink[/COLOR]" />
    <setting id="copy_log" value="" />
    <setting id="debug" value="2" />
    <setting id="descartar_anime" value="false" />
    <setting id="descartar_xxx" value="false" />
    <setting id="downloadpath" value="" />
    <setting id="httptools_timeout" value="15" />
    <setting id="list_info_order" value="3" />
    <setting id="list_languages_color" value="[COLOR red]red[/COLOR]" />
    <setting id="list_movie_color" value="[COLOR white]white[/COLOR]" />
    <setting id="list_qualities_color" value="[COLOR limegreen]limegreen[/COLOR]" />
    <setting id="list_show_year" value="0" />
    <setting id="list_tvshow_color" value="[COLOR white]white[/COLOR]" />
    <setting id="list_year_color" value="[COLOR gray]gray[/COLOR]" />
    <setting id="manto_cache" value="" />
    <setting id="manto_cookies" value="" />
    <setting id="manto_datos" value="" />
    <setting id="manto_descargas" value="" />
    <setting id="manto_internet" value="" />
    <setting id="manto_params" value="" />
    <setting id="manto_preferidos" value="" />
    <setting id="manto_proxies" value="" />
    <setting id="max_buffer" value="5" />
    <setting id="max_connections" value="4" />
    <setting id="notification_adver_color" value="[COLOR violet]violet[/COLOR]" />
    <setting id="notification_alert_color" value="[COLOR red]red[/COLOR]" />
    <setting id="notification_avis_color" value="[COLOR yellow]yellow[/COLOR]" />
    <setting id="notification_beep" value="false" />
    <setting id="notification_d_ok" value="false" />
    <setting id="notification_exec_color" value="[COLOR cyan]cyan[/COLOR]" />
    <setting id="notification_infor_color" value="[COLOR pink]pink[/COLOR]" />
    <setting id="part_size" value="1" />
    <setting id="piphav_chomikuj_password" value="chomikSvuGkKez" />
    <setting id="piphav_chomikuj_username" value="dupvi" />
    <setting id="piphav_drive_thumbs" value="false" />
    <setting id="piphav_perpage_folders" value="50" />
    <setting id="piphav_perpage_with_tmdb" value="10" />
    <setting id="piphav_perpage_without_tmdb" value="500" />
    <setting id="piphav_show_folder" value="true" />
    <setting id="piphav_show_infos" value="3" />
    <setting id="piphav_tmdb_disabled" value="false" />
    <setting id="piphav_updatedb_atstart" value="true" />
    <setting id="piphav_updatedb_doit" value="" />
    <setting id="piphav_updatedb_interval" value="3" />
    <setting id="piphav_updatedb_lastscrap" value="1700061538.51" />
    <setting id="piphav_updatedb_silent" value="true" />
    <setting id="piphav_updatedb_verbose" value="true" />
    <setting id="play_age_color" value="[COLOR deepskyblue]deepskyblue[/COLOR]" />
    <setting id="play_language_color" value="[COLOR red]red[/COLOR]" />
    <setting id="play_other_color" value="[COLOR white]white[/COLOR]" />
    <setting id="play_quality_color" value="[COLOR limegreen]limegreen[/COLOR]" />
    <setting id="play_server_color" value="[COLOR gold]gold[/COLOR]" />
    <setting id="preferencia_idioma_esp" value="1" />
    <setting id="preferencia_idioma_lat" value="2" />
    <setting id="preferencia_idioma_vos" value="3" />
    <setting id="proxies_auto" value="false" />
    <setting id="proxies_help" value="true" />
    <setting id="proxies_limit" value="true" />
    <setting id="proxies_list" value="false" />
    <setting id="proxies_maximo" value="true" />
    <setting id="proxies_paises" value="false" />
    <setting id="proxies_provider" value="10" />
    <setting id="proxies_tipos" value="false" />
    <setting id="proxies_validos" value="true" />
    <setting id="search_channels_prefered" value="" />
    <setting id="search_extra_main" value="false" />
    <setting id="search_limit_by_channel" value="5" />
    <setting id="search_multithread" value="true" />
    <setting id="search_no_channels" value="false" />
    <setting id="search_no_channels_actives" value="" />
    <setting id="search_no_channels_with_proxies" value="" />
    <setting id="search_no_proxies" value="false" />
    <setting id="search_no_results" value="false" />
    <setting id="search_only_prefered" value="false" />
    <setting id="search_show_last" value="true" />
    <setting id="servers_discarded" value="" />
    <setting id="servers_preferred" value="" />
    <setting id="servers_sort_quality" value="0" />
    <setting id="servers_unfavored" value="" />
    <setting id="show_changelog" value="" />
    <setting id="show_channels_list" value="" />
    <setting id="show_clients_torrent" value="" />
    <setting id="show_help_adults" value="" />
    <setting id="show_help_faq" value="" />
    <setting id="show_help_proxies" value="" />
    <setting id="show_help_search" value="" />
    <setting id="show_help_settings" value="" />
    <setting id="show_help_tips" value="" />
    <setting id="show_help_tmbdblist" value="" />
    <setting id="show_help_torrents" value="" />
    <setting id="show_help_tracking" value="" />
    <setting id="show_help_tracking_update" value="" />
    <setting id="show_help_use" value="" />
    <setting id="show_last_fix" value="" />
    <setting id="show_log" value="" />
    <setting id="show_servers_list" value="" />
    <setting id="tmdb_cache" value="true" />
    <setting id="tmdb_cache_expire" value="4" />
    <setting id="tmdb_clean_db_cache" value="" />
    <setting id="tmdb_disabled" value="false" />
    <setting id="tmdb_drop_db_cache" value="" />
    <setting id="tmdb_plus_info" value="false" />
    <setting id="tmdb_threads" value="20" />
    <setting id="tracking_confirm_tmdbid" value="false" />
    <setting id="tracking_current_dbname" value="default" />
    <setting id="tracking_order_episodes" value="1" />
    <setting id="tracking_order_movies" value="0" />
    <setting id="tracking_order_tvshows" value="0" />
    <setting id="tracking_perpage_episodes" value="10" />
    <setting id="tracking_perpage_movies" value="10" />
    <setting id="tracking_perpage_tvshows" value="10" />
    <setting id="tracking_viewmode_episodes" value="0" />
    <setting id="tracking_viewmode_movies" value="0" />
    <setting id="tracking_viewmode_seasons" value="0" />
    <setting id="tracking_viewmode_tvshows" value="0" />
    <setting id="tracking_weberror_dialog" value="true" />
    <setting id="ver_stable_chrome" value="false" />
    <setting id="xxx_password" value="" />
    <setting id="xxx_password_del" value="" />
</settings>
