<settings>
    <setting id="Africa" value="true" />
    <setting id="America" value="" />
    <setting id="Asia" value="" />
    <setting id="Chinese" value="true" />
    <setting id="Europa" value="" />
    <setting id="Internacional" value="" />
    <setting id="Libertadores" value="true" />
    <setting id="Liga_ACB" value="true" />
    <setting id="MMAl" value="true" />
    <setting id="TheFACup" value="true" />
    <setting id="addon_debug" value="false" />
    <setting id="alemania" value="true" />
    <setting id="amistoso" value="true" />
    <setting id="argentina" value="true" />
    <setting id="austral" value="true" />
    <setting id="basketba" value="true" />
    <setting id="basketbares" value="" />
    <setting id="brasil" value="true" />
    <setting id="champions" value="true" />
    <setting id="chapa" value="true" />
    <setting id="chile" value="true" />
    <setting id="colombia" value="true" />
    <setting id="copa" value="true" />
    <setting id="copaarge" value="true" />
    <setting id="copasub" value="true" />
    <setting id="eurleague" value="true" />
    <setting id="eurocop" value="true" />
    <setting id="euroleague" value="true" />
    <setting id="fa-cup" value="true" />
    <setting id="formula1cf" value="true" />
    <setting id="francia" value="true" />
    <setting id="gra1" value="GRANADA" />
    <setting id="gra2" value="GRANADA" />
    <setting id="holanda" value="true" />
    <setting id="italia" value="true" />
    <setting id="link_precheck" value="true" />
    <setting id="mexico" value="true" />
    <setting id="motogp" value="true" />
    <setting id="nba2" value="true" />
    <setting id="portugal" value="true" />
    <setting id="premier" value="true" />
    <setting id="primera" value="true" />
    <setting id="rugby" value="true" />
    <setting id="segunda" value="true" />
    <setting id="tenis" value="true" />
    <setting id="timezone_new" value="441" />
    <setting id="todas" value="" />
    <setting id="todasba" value="" />
    <setting id="todasres" value="" />
    <setting id="todo" value="true" />
    <setting id="torrentPlayer" value="0" />
    <setting id="usa" value="true" />
    <setting id="youth" value="true" />
</settings>
