<settings version="2">
    <setting id="addon_debug" default="true">false</setting>
    <setting id="Africa" default="true">true</setting>
    <setting id="alemania" default="true">true</setting>
    <setting id="America" default="true"></setting>
    <setting id="amistoso" default="true">true</setting>
    <setting id="arena_hide" default="true">false</setting>
    <setting id="arena_url" default="true">http://arenavision.cc</setting>
    <setting id="argentina" default="true">true</setting>
    <setting id="Asia" default="true"></setting>
    <setting id="austral" default="true">true</setting>
    <setting id="basketba" default="true">true</setting>
    <setting id="basketbares" default="true"></setting>
    <setting id="brasil" default="true">true</setting>
    <setting id="champions" default="true">true</setting>
    <setting id="chapa" default="true">true</setting>
    <setting id="chile" default="true">true</setting>
    <setting id="Chinese" default="true">true</setting>
    <setting id="colombia" default="true">true</setting>
    <setting id="copa" default="true">true</setting>
    <setting id="copaarge" default="true">true</setting>
    <setting id="copasub" default="true">true</setting>
    <setting id="eurleague" default="true">true</setting>
    <setting id="eurocop" default="true">true</setting>
    <setting id="euroleague" default="true">true</setting>
    <setting id="Europa" default="true"></setting>
    <setting id="fa-cup" default="true">true</setting>
    <setting id="formula1cf" default="true">true</setting>
    <setting id="francia" default="true">true</setting>
    <setting id="get_categorias" default="true">false</setting>
    <setting id="gra1" default="true">GRANADA</setting>
    <setting id="gra2" default="true">GRANADA</setting>
    <setting id="holanda" default="true">true</setting>
    <setting id="Internacional" default="true"></setting>
    <setting id="ishelper_settings" default="true"></setting>
    <setting id="italia" default="true">true</setting>
    <setting id="Libertadores" default="true">true</setting>
    <setting id="Liga_ACB" default="true">true</setting>
    <setting id="link_precheck" default="true">true</setting>
    <setting id="mexico" default="true">true</setting>
    <setting id="MMAl" default="true">true</setting>
    <setting id="motogp" default="true">true</setting>
    <setting id="nba2" default="true">true</setting>
    <setting id="portugal" default="true">true</setting>
    <setting id="premier" default="true">true</setting>
    <setting id="primera" default="true">true</setting>
    <setting id="rugby" default="true">true</setting>
    <setting id="segunda" default="true">true</setting>
    <setting id="sport_url" default="true">http://www.sport365.sx</setting>
    <setting id="tap_sort">true</setting>
    <setting id="tenis" default="true">true</setting>
    <setting id="TheFACup" default="true">true</setting>
    <setting id="timezone_new" default="true">441</setting>
    <setting id="todas" default="true"></setting>
    <setting id="todasba" default="true"></setting>
    <setting id="todasres" default="true"></setting>
    <setting id="todo" default="true">true</setting>
    <setting id="torrentPlayer" default="true">0</setting>
    <setting id="usa" default="true">true</setting>
    <setting id="youth" default="true">true</setting>
</settings>
