<settings>
    <setting id="addon_tracking_atstart" value="false" />
    <setting id="addon_tracking_doit" value="" />
    <setting id="addon_tracking_interval" value="12" />
    <setting id="addon_tracking_lastscrap" value="" />
    <setting id="addon_tracking_verbose" value="false" />
    <setting id="addon_update_atstart" value="true" />
    <setting id="addon_update_doit" value="" />
    <setting id="addon_update_verbose" value="false" />
    <setting id="autoplay" value="false" />
    <setting id="autoplay_channels_discarded" value="" />
    <setting id="autoplay_max_links" value="10" />
    <setting id="autoplay_one_link" value="true" />
    <setting id="block_size" value="1" />
    <setting id="channels_link_main" value="false" />
    <setting id="channels_list_order" value="true" />
    <setting id="channels_list_prefe_color" value="[COLOR gold]gold[/COLOR]" />
    <setting id="channels_list_status" value="0" />
    <setting id="cliente_torrent" value="Elementum" />
    <setting id="colorear_enlaces_play" value="true" />
    <setting id="context_download_color" value="[COLOR orange]orange[/COLOR]" />
    <setting id="context_search_exact_color" value="[COLOR gold]gold[/COLOR]" />
    <setting id="context_search_similar_color" value="[COLOR yellow]yellow[/COLOR]" />
    <setting id="context_tracking_color" value="[COLOR blue]blue[/COLOR]" />
    <setting id="context_trailer_color" value="[COLOR pink]pink[/COLOR]" />
    <setting id="debug" value="1" />
    <setting id="descartar_xxx" value="false" />
    <setting id="downloadpath" value="" />
    <setting id="gdrive1_auth_access_token" value="ya29.a0Ae4lvC1Biy-HeBNfRVYXigpxH3byuHjYfju8bpBb75GzaaK9TCGdQKKTRmwsYPk1azrI7Wf-b7pYH4K_i5zt9zXvhNeyLasMN-N2efW5KJA72Nd3okELkBTIWuTQF87Cd3vuQG2FJngMXsk9TPR0eKKiEDSPlYWJLXB4iQ" />
    <setting id="gdrive1_auth_refresh_token" value="1/cTBCDSikMWyXlc9n12GqFqLNFp4zBNZFlwWhvfQe4ew1aCxwYwbAaSByV3yMx7NL" />
    <setting id="gdrive1_client_id" value="929180211777-1mdb5sb489ve06mndcos6mk3akmh5abp.apps.googleusercontent.com" />
    <setting id="gdrive1_client_secret" value="Ijaflgm1aycCtULZTXxtZgF7" />
    <setting id="gdrive1_code" value="4/twARJbW21zVAX7f4HFjVTaoYTskNcS8fUMyg3QZCH6895bcPrhhPdbg" />
    <setting id="gdrive1_passcode" value="" />
    <setting id="gdrive1_password" value="" />
    <setting id="gdrive1_resumepoint" value="1" />
    <setting id="gdrive1_spreadsheetname" value="" />
    <setting id="gdrive1_type" value="3" />
    <setting id="gdrive1_url" value="" />
    <setting id="gdrive1_username" value="ztemita2" />
    <setting id="httptools_timeout" value="15" />
    <setting id="list_info_order" value="3" />
    <setting id="list_languages_color" value="[COLOR red]red[/COLOR]" />
    <setting id="list_movie_color" value="[COLOR white]white[/COLOR]" />
    <setting id="list_qualities_color" value="[COLOR limegreen]limegreen[/COLOR]" />
    <setting id="list_show_year" value="3" />
    <setting id="list_tvshow_color" value="[COLOR white]white[/COLOR]" />
    <setting id="list_year_color" value="[COLOR gray]gray[/COLOR]" />
    <setting id="max_buffer" value="5" />
    <setting id="max_connections" value="4" />
    <setting id="notification_beep" value="true" />
    <setting id="part_size" value="1" />
    <setting id="play_age_color" value="[COLOR deepskyblue]deepskyblue[/COLOR]" />
    <setting id="play_language_color" value="[COLOR red]red[/COLOR]" />
    <setting id="play_other_color" value="[COLOR white]white[/COLOR]" />
    <setting id="play_quality_color" value="[COLOR limegreen]limegreen[/COLOR]" />
    <setting id="play_server_color" value="[COLOR gold]gold[/COLOR]" />
    <setting id="preferencia_idioma_esp" value="1" />
    <setting id="preferencia_idioma_lat" value="2" />
    <setting id="preferencia_idioma_vos" value="3" />
    <setting id="search_limit_by_channel" value="2" />
    <setting id="search_multithread" value="true" />
    <setting id="search_show_last" value="false" />
    <setting id="servers_discarded" value="" />
    <setting id="servers_preferred" value="vidtodo,mega" />
    <setting id="servers_sort_quality" value="0" />
    <setting id="servers_unfavored" value="" />
    <setting id="show_changelog" value="" />
    <setting id="show_help_faq" value="" />
    <setting id="show_help_proxies" value="" />
    <setting id="show_help_settings" value="" />
    <setting id="show_help_tips" value="" />
    <setting id="show_help_tracking" value="" />
    <setting id="show_help_tracking_update" value="" />
    <setting id="show_help_use" value="" />
    <setting id="tmdb_cache" value="true" />
    <setting id="tmdb_cache_expire" value="1" />
    <setting id="tmdb_clean_db_cache" value="" />
    <setting id="tmdb_disabled" value="false" />
    <setting id="tmdb_drop_db_cache" value="" />
    <setting id="tmdb_plus_info" value="false" />
    <setting id="tmdb_threads" value="20" />
    <setting id="tracking_confirm_tmdbid" value="false" />
    <setting id="tracking_current_dbname" value="default" />
    <setting id="tracking_order_episodes" value="1" />
    <setting id="tracking_order_movies" value="0" />
    <setting id="tracking_order_tvshows" value="0" />
    <setting id="tracking_perpage_episodes" value="10" />
    <setting id="tracking_perpage_movies" value="20" />
    <setting id="tracking_perpage_tvshows" value="20" />
    <setting id="tracking_viewmode_episodes" value="0" />
    <setting id="tracking_viewmode_movies" value="0" />
    <setting id="tracking_viewmode_seasons" value="0" />
    <setting id="tracking_viewmode_tvshows" value="0" />
    <setting id="tracking_weberror_dialog" value="true" />
</settings>
