<settings>
    <setting id="a3mediaaccount" value="false" />
    <setting id="a3mediapassword" value="" />
    <setting id="a3mediauser" value="" />
    <setting id="account_anonymous_id" value="54abc1a1530c610a264b46447c36f8c7" />
    <setting id="account_email" value="" />
    <setting id="account_password" value="" />
    <setting id="account_session" value="0bd2dbb130c21c727f6e3f7a58e632b9" />
    <setting id="account_type_registered" value="0" />
    <setting id="bookmarkpath" value="/storage/.kodi/userdata/addon_data/plugin.video.tvalacarta/bookmarks" />
    <setting id="cache.dir" value="" />
    <setting id="debug" value="false" />
    <setting id="default_action" value="2" />
    <setting id="downloadlistpath" value="/storage/.kodi/userdata/addon_data/plugin.video.tvalacarta/downloads/list" />
    <setting id="downloadpath" value="/storage/.kodi/userdata/addon_data/plugin.video.tvalacarta/downloads" />
    <setting id="forceview" value="true" />
    <setting id="jdownloader" value="http://127.0.0.1:10025" />
    <setting id="languagefilter" value="0" />
    <setting id="modo_cache" value="0" />
    <setting id="player_mode" value="0" />
    <setting id="player_type" value="2" />
    <setting id="programs_enable_section" value="true" />
    <setting id="programs_enable_subsections" value="true" />
    <setting id="programs_num_elements_per_page" value="0" />
    <setting id="suscription_check" value="true" />
    <setting id="thumbnail_type" value="2" />
    <setting id="updatechannels" value="true" />
    <setting id="updatecheck2" value="true" />
    <setting id="youtube_special_formats" value="false" />
</settings>
