<settings>
  		<category label="Configuración General">
        <setting type="lsep" label="Para su buen funcionamiento pinchar en" option="close" action="RunPlugin(plugin://plugin.video.Explora/?mode=88)" />
        <setting type="lsep" label="[COLOR red]POR DEFECTO[/COLOR] y luego en [COLOR red]OK[/COLOR]" option="close" action="RunPlugin(plugin://plugin.video.Explora/?mode=88)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true" visible="false"/>
		<setting id="warning" type="bool" label="Aviso" default="true" visible="false"/>
		<setting id="debug" type="bool" label="Enable Add-on Debugging" default="true" visible="false"/>
        <setting id="1080pquality" label="[COLOR green]Mejorar calidad 1080p[/COLOR]" type="bool" default="true"/>
	    <setting id="nocon" label="[COLOR yellow]Pre buffered Adsl o cable 10s.[/COLOR]" type="bool" default="true"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="false"/>
		<setting id="aviso" type="bool" label="aviso" default="true" visible="false"/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"visible="false"/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="false" visible="false"/>
		</category>
  </settings>

